- content_for :head do
	%title Mongoid: Contributors
#doc
	%h1 Contributors

	%p
		The current Mongoid core team are found on the
		<a href="https://github.com/mongoid">Mongoid Organization Page</a>.

	%p
		A list of all contributors can also be found on the
		<a href="https://github.com/mongoid/mongoid/contributors">Mongoid Contributors Page</a>.               