%html
	%head
		%meta{name: "description", content: "A Ruby ODM for MongoDB"}
		%meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }
		= stylesheet_link_tag "/stylesheet.css"
		= yield_content :head
	%body   
		#wrapper
			#menu
				%ul
					%li 
						%a{:href=>'/docs'} Docs			
					%li API
					%li Code
					%li Blog
					%li Who is using Mongoid?   
			%hr
			= yield