= yield

= partial('partials/disqus')

:javascript
	DISQUS.reset({
	  reload: true,
	  config: function () {  
	    this.page.identifier = location.pathname;
		console(this.page.identifier = location.pathname)
	    this.page.url = location.href;
	  }
	});    