- content_for :head do
  %title Mongoid: Relations [Embedded]

%h1 Embedded relations

%p
  Embedded relations are associations between one or many objects where
  the child object is embedded within the parent in the same document
  in the database. They can be extremely efficient when kept to a
  managable size in MongoDB since the total number of queries required
  to retrieve an entire object graph can be reduced to one.

%p
  Please consult the specific relation sections for more information.
