a
  color: #CC6666
  text-decoration: none

a.active
  color: #FF6666 !important

a.area
  color: #DDDDDD
  font-size: 14px
  text-transform: uppercase

a.section
  color: #DDDDDD
  font-size: 12px
  text-transform: uppercase
  padding-left: 10px
  text-decoration: underline 

a.subsection
  color: #DDDDDD
  font-size: 12px
  text-transform: uppercase
  padding-left: 25px  
  
a.chapter
  color: #DDDDDD
  font-size: 12px
  text-transform: uppercase  

body
  font-family: Arial, Helvetica, sans-serif
  height: 100%
  margin: 0px
  padding: 0px

div
  margin: 0px
  padding: 0px

div.code
  padding: 10px

div#container
  height: 100%
  width: 100%

div.content  
  background-color: azure
  border: 5px solid #FFFFFF
  border-radius: 8px
  -moz-border-radius: 8px
  width: 625px
  -webkit-box-shadow: 0 0 10px rgb(0,0,0)
  -moz-box-shadow: 0 0 10px rgb(0,0,0) 
  box-shadow: 0 0 10px rgb(0,0,0)

div.footer
  border: 8px solid #333333
  color: #666666
  font-size: 12px
  text-align: right
  width: 600px

div.header
  background-color: #333333
  height: 116px
  padding-left: 8px
  padding-right: 8px
  width: 600px

div.main
  float: left
  margin-left: 25px
  width: 600px

div.navigation
  float: left
  margin: 0px
  padding-top: 20px
  text-align: left
  width: 180px

h1         
  color: #010A82
  font-size: 24px
  font-weight: bold
  margin: 0px
  padding: 10px
  text-transform: uppercase

h2      
  color: #010A82
  font-size: 18px
  font-weight: bold
  margin: 0px
  padding: 10px
  text-transform: uppercase

h3  
  color: #010A82
  font-size: 16px
  font-weight: bold
  padding-left: 10px
  text-transform: uppercase

html
  background-color: #333333
  height: 100%

img
  border: 0px  

img.diagram
  padding-bottom: 10px
  padding-left: 20px
  padding-top: 10px

p
  color: #000000  
  text-indent: 1.5em
  font-family: 'lucida sans unicode', 'lucida grande', sans-serif
  font-size: 14px
  word-spacing: 0pt
  line-height: 1.4
  margin: 0px
  padding-bottom: 10px
  padding-left: 10px
  padding-right: 10px

p.image 
  text-align: center
  

tt
  color: #256B20
  font-weight: bold

ul
  color: #CCCCCC
  font-size: 13px
  list-style-type: square
  margin-top: 0px

ul.code
  color: #999999
  font-size: 12px
  list-style-type: square
  margin: 0px

ul.navigation
  color: #CCCCCC
  font-size: 16px
  list-style: none
  margin: 0px

  li.area
    padding-top: 10px
  li.section
    padding-top: 10px

ul.chapters
  font-size: 16px
  margin: 0px
  padding-left: 55px
