#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration('compass_config.rb')

### Images
compile '/images/*/' do
# No need to run images through a filter. This is just for getting em in right place
end

route '/images/*/' do
 item.identifier.chop + '.' + item[:extension]
end

### Javascript

compile '/javascript/*/' do
# No need to run images through a filter. This is just for getting em in right place
end

route '/javascript/*/' do
 item.identifier.chop + '.' + item[:extension]
end

### Stylesheets

compile '/stylesheets/*/' do
  case item[:extension]
    when 'sass'
      filter :sass, Compass.sass_engine_options
    when 'css'
  end
end

route '/stylesheets/_*/' do
  # don't output partials, so return nil
  nil
end

route '/stylesheets/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.css'
end

### html, md, haml etc

compile '/docs/*/' do
  case item[:extension]
    when 'html'
      filter :erb
    when 'html.erb'
      filter :erb
    when 'haml'
      filter :haml
    when 'html.haml'
      filter :haml
    when 'md'
      filter :kramdown
    when 'markdown'
      filter :kramdown
  end
  filter :syntax_colorize
  layout "docs"
end

compile '*' do
  case item[:extension]
    when 'html'
      filter :erb
    when 'html.erb'
      filter :erb
    when 'haml'
      filter :haml
    when 'html.haml'
      filter :haml
    when 'markdown'
      filter :kramdown
  end
  filter :syntax_colorize
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

### Layout rules - only HAML!
layout 'default', :erb
layout '*', :haml, :format => :html5

