a {
  color: #f45625;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #;
}

.achtung {
  width: 80px;
}

body {
  background-color: #fcfcfc;
  height: 100%;
}

.clear {
  clear: both;
}

#content {
  margin-bottom: 100px;
}

.dropdown-toggle .caret {
  border-bottom-color: #910b0b !important;
  border-top-color: #910b0b !important;
}

h1 {
  margin-top: 30px;
}

#header {
  background-repeat: no-repeat;
  background-color: #000000;
  height: 60px;
  left: 0px;
  width: 100%;
}

#header.mongoid {
  border-bottom: 5px solid #e6a486;
}

#header.origin {
  border-bottom: 5px solid #eeda52;
}

#header.moped {
  border-bottom: 5px solid #82d8b8;
}

html {
  height: 100%;
}

.link-button {
  border: 1px dotted #CCCCCC;
  border-radius: 11px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 2px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 160px;
}

.link-pad-left {
  padding-left: 10px;
  padding-right: 0px;
}

.logo-text {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  color: #ffffff;
  float: right;
  font-size: 18px;
  height: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.navbar-inner {
  height: 60px;
  background-color: #000000;
  background-image: -moz-linear-gradient(center top , #333333, #000000);
}

.note {
  font-style: italic;
  font-size: 13px;
  padding: 20px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

p.doc {
  color: #999999;
  padding: 5px;
  width: 250px;
}

.page-nav {
  margin-top: 30px;
}

.page-nav a {
  font-size: 12px;
}

.page-nav-fixed {
  background-color: #FFFFFF;
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 500;
}

.page-nav-fixed .nav {
  margin-bottom: 0px;
}

.page-nav-fixed .nav-pills > li > a {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding-bottom: 13px;
}

.nav-pills > li > a {
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar li {
  width: 60px;
  text-align: center;
}

#navigation {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 40px;
}

section {
  padding-top: 140px;
}

.subnav {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 50px;
  width: 100%;
}

.subnav-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 1020;
}

td.doc {
  width: 210px;
}

td.header {
  text-transform: capitalize;
  font-style: italic;
}

ul.incompatible li {
  padding-bottom: 20px;
  line-height: 30px;
}
