a {
  font-weight: bold;
  text-decoration: none;
}

.achtung {
  width: 80px;
}

body {
  background-color: #fcfcfc;
}

.clear {
  clear: both;
}

#content {
  margin-bottom: 100px;
}

h1 {
  margin-top: 30px;
}

/* Navbar uses negative margins when < 767px. Apply border to .navbar instead of #header container. */
#header.mongoid .navbar {
  border-bottom: 5px solid #e6a486;
}

#header.origin .navbar {
  border-bottom: 5px solid #eeda52;
}

#header.moped .navbar {
  border-bottom: 5px solid #82d8b8;
}

html {
  overflow-y: scroll;
}

.link-button {
  border: 1px dotted #CCCCCC;
  border-radius: 11px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 2px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 160px;
}

.link-pad-left {
  padding-left: 10px;
  padding-right: 0px;
}

.logo-text {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  color: #ffffff;
  float: right;
  font-size: 18px;
  height: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.note {
  font-style: italic;
  font-size: 13px;
  padding: 20px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

p.doc {
  color: #999999;
  padding: 5px;
  width: 250px;
}

.page-nav {
  margin-top: 30px;
}

.page-nav a {
  font-size: 12px;
}

.page-nav-fixed {
  background-color: #FFFFFF;
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 85px;
  z-index: 500;
}

.page-nav-fixed .nav {
  margin-bottom: 0px;
}

.page-nav-fixed .nav-pills > li > a {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding-bottom: 13px;
}

.nav-pills > li > a {
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}

.navbar .divider-vertical {
  height: 60px;
}


#navigation {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 40px;
}

section {
  padding-top: 140px;
}

.subnav {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 50px;
  width: 100%;
}

.subnav-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 1020;
}

td.doc {
  width: 210px;
}

td.header {
  text-transform: capitalize;
  font-style: italic;
}

ul.incompatible li {
  padding-bottom: 20px;
  line-height: 30px;
}


/* Add margin to content to compensate for navbar being fixed */
#content {
  margin-top: 60px;
}

/* Remove vertical padding bootstrap adds < 980px. Keeps navbar height constant. */
@media (max-width: 979px) {
  .navbar-inner {
    padding: 0 20px !important;
  }
}

@media (max-width: 979px) {

  /* Keep navbar fixed on all screen sizes. Bootstrap reverts to static < 980px by default. */
  .navbar-fixed-top {
    position: fixed;
  }
}

@media (max-width: 767px) {

  /* Negative margin for subnav so it matches .navbar */
  #navigation {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* Navbar left-right padding matches content padding when < 768px. */
  .navbar-fixed-top {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Same for subnav */
  .subnav .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Clean up padding on first and last list items for main and subnav only. Leave page-nav alone. */
.navbar .nav:first-child > li:first-child > a,
.subnav .nav:first-child > li:first-child > a {
  padding-left: 0;
}
.navbar .nav:last-child > li:last-child > a,
.subnav .nav:last-child > li:last-child > a {
  padding-right: 0;
}

/* Keep the images in navbar properly padded. */
.navbar .nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 979px) {

  /* Remove default 9px bottom margin on .nav lists in navbar when <980px */
  .navbar .nav {
    margin-bottom: 0;
  }

  /* Stop navbar lists from default 100% width block mode display when <980px. */
  .navbar .nav li {
    float: left;
    display: list-item;
  }

  /* Remove default 2px bottom margin on links in navbar when <980px */
  .navbar .nav li a {
    margin-bottom: 0;
  }
}

/* Reduce horizontal padding of navbar elements for smaller screens */
@media (max-width: 479px) {
  .navbar .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Compensate for fixed border */
.subnav {
  padding-top: 7px;
}
