a {
  color: #f45625;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #910b0b;
}

body {
  background-color: #fcfcfc;
}

h1 {
  margin-top: 30px;
}

#header {
  background-color: #000000;
  background-image: url("/images/header.png");
  border-bottom: 5px solid #e6a486;
  height: 500px;
  left: 0px;
  width: 100%;
}

#footer {
  background-color: #000000;
  border-top: 5px solid #e6a486;
  height: 40px;
  margin-top: 40px;
  width: 100%;
}

.navbar-inner {
  height: 60px;
  background-color: #000000;
  background-image: -moz-linear-gradient(center top , #333333, #000000);
}

.navbar .divider-vertical {
  height: 60px;
}

.navbar li {
  width: 100px;
  text-align: center;
}

#navigation {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 40px;
}

.subnav {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 50px;
  width: 100%;
}

.subnav-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 1020;
}

.nav-pills > li > a {
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.dropdown-toggle .caret {
  border-bottom-color: #910b0b !important;
  border-top-color: #910b0b !important;
}

.samurai {
  width: 80px;
}

.note {
  font-style: italic;
  font-size: 13px;
  padding: 20px;
}

.clear {
  clear: both;
}

.page-nav {
  margin-top: 30px;
}

section {
  margin-top: 40px;
}

p.doc {
  color: #999999;
  padding: 5px;
  width: 200px;
}

td.doc {
  width: 210px;
}

td.header {
  text-transform: capitalize;
  font-style: italic;
}
