!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }
    %title Mongoid
    = stylesheet_link_tag "site.css"

  %body
    #centered
      #center
        - link_to("/home") do
          = image_tag "mongoid-logo-flash.png"
