---
category: home
---

#main.left
  .links
    %a.link{:href => "/docs/installation/"} Documentation
    %br
    %a.link{:href => "/links/"} Links
    %br
    %a.link{:href => "/about/"} About

  %a.logo{:href => "../"} Mongoid

  %p.description Mongoid provides an elegant way to persist and query Ruby objects to documents in MongoDB.

  %hr
  .gems
    .gem
      %h3.fancy Mongoid 1.x for<br />Rails 2
      .install
        gem install mongoid

    .gem
      %h3.fancy Mongoid 2.x for<br />Rails 3
      .install
        gem install mongoid --pre

    .clear
  %hr

#sidebar.right
  
  %a#next_arrow.next.browse

  #slider_nav.navi
  #slider.scrollable
    .items
      .item
        %h3.fancy
          Features
        %ul
          %li Effortless mapping of Ruby objects to documents and embedded documents.
          %li Full Rails 3 Support including ActiveModel and Built in Generators
          %li Rich criteria API for document retrieval from the database.
          %li Named Scopes / Chainable criteria.
          %li Support for versioning of documents.
          %li Full callback support on documents and embedded documents.
          %li Proper master/slave distribution against the database.
          %li Optimized for use with extremely large datasets.
        
        .actions
          .next.browse
            Ok, Impress Me &raquo;
        
      .item
        %h3.fancy BLAH
        
      .item
        %h3.fancy BLAH2
      .item.khaaaaaaan
        %h3.fancy Ghenghis Khan says...
        .quote{:style => "display:none"}
          使用Mongoid，<br />
          傻瓜！
          
        .khan{:title => "Use Mongoid, Fool!"}


%script{:src => "/javascript/home.js"}
