#main.left
  .links
    %a.link{:href => "../docs/installation/"} Documentation
    %br
    %a.link{:href => "../links/"} Links
    %br
    %a.link{:href => "http://github.com/durran/mongoid"} Source
  %h1.logo Mongoid

  %p.description Mongoid provides an elegant way to persist and query Ruby objects to documents in MongoDB.
    
  %hr
  .gems
    .gem
      %h3.fancy Mongoid 1.x for<br />Rails2
      .install
        gem install mongoid
    
    .gem
      %h3.fancy Mongoid 2.x for<br />Rails3
      .install
        gem install mongoid --pre
  
    .clear
  %hr
  
#sidebar.right
  #khaaaaaaan{:title => "Se&ntilde;or Ghenghis Khan"}
