%p{style: 'background-color:#EEE;padding: 5px 10px;margin-top:30px;'} 
  You are looking at the docs for v4.x. You can check out this page for Mongoid 
  %a{href: "/en/mongoid/v3/#{page}.html"} v3.x
  if you haven't upgraded yet.
