%h1 referenced relations

%p
  Referenced relations are associations between documents that reside
  in separate collections in MongoDB. The link between the documents
  is handled similar to a relational database where a "foreign key"
  needs to be stored on one or both sides of the relation, but note
  that accessing a referenced relation required a separate query to
  the database since joins cannot be performed.

%p
  Please consult the specific relation sections for more information.
