- content_for :head do
  %title Mongoid: Rails [ Multi Parameter Attributes ]

%h1 multi parameter attributes

%p
  If you want to use multi-paramater attributes with Rails, you will
  need to include an extra Mongoid module to support it.

:coderay
  #!ruby
  class Person
    include Mongoid::Document
    include Mongoid::MultiParameterAttributes
  end

%p 
  An example of this is the date_select or datetime_select helper methods:

:coderay
  #!ruby
  = f.date_select(:birthday, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'})

will send the date as multi param:

birthday(1i)
birthday(2i)
birthday(3i)

