%h1 rake tasks

%p
  Mongoid provides the following rake tasks when used in a Rails 3 environment:

%p
  <tt>db:create</tt>: Exists only for dependency purposes, does not actually
  do anything.

%p
  <tt>db:create_indexes</tt>: Reads all index definitions from the models and
  attempts to create them in the database.

%p
  <tt>db:drop</tt>: Drops all collections in the database with the exception of
  the system collections.

%p
  <tt>db:migrate</tt>: Exists only for dependency purposes, does not actually
  do anything.

%p
  <tt>db:schema:load</tt>: Exists only for framework dependency purposes, does
  not actually do anything.

%p
  <tt>db:seed</tt>: Seeds the database from db/seeds.rb

%p
  <tt>db:setup</tt>: Creates indexes and seeds the database.

%p
  <tt>db:test:prepare</tt>: Exists only for framework dependency purposes, does
  not actually do anything.
