- content_for :head do
  %title Mongoid: Relations [Referenced: n-n]

%h1 referenced many to many

%p= image_tag "/images/referenced-n-n.png", class: "diagram"

%p
  Many to many relationships where the inverse documents are stored in a
  separate collection from the base document are defined using
  Mongoid's <tt>has_and_belongs_to_many</tt> macro. This
  exhibits similar behaviour to Active Record with the exception that
  no join collection is needed, the foreign key ids are stored as
  arrays on either side of the relation.

%h3 defining

%p
  Both sides of the relation use the same macro.

:coderay
  #!ruby

  class Person
    include Mongoid::Document
    field :title, type: String
    has_and_belongs_to_many :tags
  end

  class Tag
    include Mongoid::Document
    field :name, type: String
    has_and_belongs_to_many :people
  end

%p
  You can create a one sided many to many if you want to mimic a has_many
  that stores the keys as an array on the parent.

:coderay
  #!ruby

  class Movie
    include Mongoid::Document
    field :title, type: String
    has_and_belongs_to_many :ratings, inverse_of: nil
  end

  class Rating
    include Mongoid::Document
  end

%h3 storage

%p
  When defining a relation of this nature, each document is stored in it's
  respective collection, and each document contains a "foreign key"
  reference to the other in the form of an array.

:coderay
  #!ruby

  # The person document.
  {
    "_id" : ObjectId("4d3ed089fb60ab534684b7e9"),
    "tag_ids" : [ ObjectId("4d3ed089fb60ab534684b7f2") ]
  }

  # The tag document.
  {
    "_id" : ObjectId("4d3ed089fb60ab534684b7f2"),
    "person_ids" : [ ObjectId("4d3ed089fb60ab534684b7e9") ]
  }

%h3 accessors

%p
  Accessing the relations is handled through the methods created based on the
  names of the relations. The following example shows basic access on both
  sides of the relation.

:coderay
  #!ruby

  # Return the tags that belong to a person.
  person.tags

  # Set the tags from the person.
  person.tags = [ Tag.new ]

  # Return the people that belong to a tag.
  tag.people

  # Set the people from the tag.
  tag.people = [ Person.new ]

%h3 building and creating

%p
  From either side, documents in the referenced inverse can be appended to using
  traditional array syntax or the special association proxy methods.

:coderay
  #!ruby

  # Append one or many tags, saving them if the person is persisted.
  person.tags << Tag.new
  person.tags.push(Tag.new)
  person.tags.concat([ tag_one, tag_two ])

  # Appends and returns a new tag from the attributes.
  person.tags.build(name: "Buch")
  person.tags.new(name: "Buch")

  # Appends, saves, and returns a new tag from the attributes.
  person.tags.create(name: "Bar")

  # Appends, saves, and returns a new tag from the attributes,
  # raising an error if validation fails.
  person.tags.create!(name: "Bar")

  # Append one or many people, saving them if the tag is persisted.
  tag.people << Person.new
  tag.people.push(Person.new)
  tag.people.concat([ person_one, person_two ])

  # Appends and returns a new person from the attributes.
  tag.people.build(title: "Mr")
  tag.people.new(title: "Mr")

  # Appends, saves, and returns a new person from the attributes.
  tag.people.create(title: "Sire")

  # Appends, saves, and returns a new person from the attributes,
  # raising an error if validation fails.
  tag.people.create!(title: "Douchebag")

%h3 removal

%p
  Documents in the relation can be removed in several different manners,
  either through the relation, criteria, or accessors.

:coderay
  #!ruby

  # Delete all referenced documents (regardless of <tt>:dependent</tt> option)
  person.tags.delete_all
  # Delete, Nullify, or Destroy all referenced documents (depending on <tt>:dependent</tt> option)
  person.tags.clear
  person.tags = []

  # Delete all matching referenced documents.
  person.tags.delete_all(conditions: { name: "Ruby" })
  person.tags.where(name: "Rails").delete_all

  # Destroy all referenced documents, running destroy callbacks.
  person.tags.destroy_all

  # Destroy all matching referenced documents, running callbacks.
  person.tags.destroy_all(conditions: { name: "Ruby" })
  person.tags.where(name: "MongoDB").destroy_all

  # Delete all referenced documents
  tag.people.delete_all
  tag.people.clear
  tag.people = []

  # Delete all matching referenced documents.
  tag.people.delete_all(conditions: { title: "Sir" })
  tag.people.where(title: "Grand Poobah").delete_all

  # Destroy all referenced documents, running destroy callbacks.
  tag.people.destroy_all

  # Destroy all matching referenced documents, running callbacks.
  tag.people.destroy_all(conditions: { title: "Marshall" })
  tag.people.where(title: "Heiness").destroy_all

%h3 dependent behaviour

%p
  You can tell Mongoid what to do with inverse relations of a many to many
  when unsetting the relation via the dependent option. This also applies
  to calling <tt>#delete</tt> on the relation (unless calling <tt>#delete_all</tt>)..
  The valid options are:

%ul
  %li <tt>:delete</tt>: Delete the inverse documents.
  %li <tt>:destroy</tt>: Destroy the inverse documents.
  %li <tt>:nullify</tt>: Orphan the inverse documents.

:coderay
  #!ruby
  class Person
    include Mongoid::Document
    has_and_belongs_to_many :preferences, dependent: :nullify
  end

  # Orphan all the inverse relations:
  person.preferences = []
  person.preferences = nil

  # Orphan a single child relation:
  person.preferences.delete(preference)

%p
  If the dependent option is not defined, the default is to nullify.
