---
title: Callbacks
author: Durran Jordan
category: docs
---
.text
  Mongoid supports the following callbacks:
  %li <tt>before_create</tt>
  %li <tt>before_destroy</tt>
  %li <tt>before_save</tt>
  %li <tt>before_update</tt>
  %li <tt>before_validate</tt>
  %li <tt>after_create</tt>
  %li <tt>after_destroy</tt>
  %li <tt>after_save</tt>
  %li <tt>after_update</tt>
  %li <tt>after_validate</tt>

  %br

  %p
    Callbacks are available on any document, whether it is embedded within another document or not.

  <tt>article.rb</tt>:
  %pre
    %code.language-ruby
      :preserve
        class Article
          include Mongoid::Document
          field :name
          field :body
          field :slug

          before_create :generate_slug

          protected
          def generate_slug
            self.slug = name.to_permalink
          end
        end

