---
title: Extensions
author: Durran Jordan
category: docs
---
.title Remarkable
.text
  %p
    Brian Cardarella's
    <a href="http://github.com/bcardarella/remarkable_mongoid">Remarkable</a>
    gem provides a nice addition of RSpec matchers for Mongoid. It contains
    the matchers shown below, plus all validation matchers from
    <a href="http://github.com/remarkable/remarkable/tree/master/remarkable_activemodel">
    Remarkable::ActiveModel</a>.

  %pre
    %code.language-ruby
      :preserve
        describe Person do

          it { should reference_one :account }
          it { should reference_many :posts }
          it { should be_referenced_in :organization }
          it { should embed_one :name }
          it { should embed_many :addresses }
          it { should be_embedded_in :group }

          it { should validate_uniqueness_of :dob }
        end
