---
title: Integration
author: Durran Jordan
category: docs
---
.title Devise
.text
  %p
    In order to get <tt>Devise</tt> set up to work with Mongoid, all you will
    need to do is remove the ActiveRecord require and replace it with the
    Mongoid one in the <tt>config/initializers/devise.rb</tt>

  %pre
    %code.language-ruby
      :preserve
        # ==> ORM configuration
        # Load and configure the ORM. Supports :active_record (default),
        # :mongoid (bson_ext recommended) and :data_mapper (experimental).
        require "devise/orm/mongoid"

.title Passenger
.text
  %p
    The MongoDB wiki will alert you of an initializer that you need to include
    if you are using <tt>Passenger</tt> with smart spawning enabled.
    (Conservative spawning is the default.) In the case of Mongoid you will
    <i>NOT</i> need to do this as Mongoid detects if <tt>Passenger</tt>
    is running in this mode and will reconnect for you when a worker is forked.

.title Unicorn
.text
  %p
    No extra configuration is needed for Mongoid if you are using <tt>Unicorn</tt>
    with <tt>preload_app</tt> set to <tt>true</tt>. Mongoid will detect if
    <tt>Unicorn</tt> has forked a child worker and will reconnect to the database
    on the next query.
