---
title: Rake Tasks
author: Durran Jordan
category: docs
---
.title Rake Tasks
.text
  Mongoid provides the following rake tasks when used in a Rails 3 environment:

  %br
  %br
  <tt>db:create</tt>: Exists only for dependency purposes, does not actually
  do anything.

  %br
  %br
  <tt>db:create_indexes</tt>: Reads all index definitions from the models and
  attempts to create them in the database.

  %br
  %br
  <tt>db:drop</tt>: Drops all collections in the database with the exception of
  the system collections.

  %br
  %br
  <tt>db:migrate</tt>: Exists only for dependency purposes, does not actually
  do anything.

  %br
  %br
  <tt>db:schema:load</tt>: Exists only for framework dependency purposes, does
  not actually do anything.

  %br
  %br
  <tt>db:seed</tt>: Seeds the database from db/seeds.rb

  %br
  %br
  <tt>db:setup</tt>: Creates indexes and seeds the database.

  %br
  %br
  <tt>db:test:prepare</tt>: Exists only for framework dependency purposes, does
  not actually do anything.
