--- 
title: Test Content
---

%h2
  Create an Asian Inspired Illustration with Impact
.post_date
  Apr 28th in
  %a{:href => "#"} Illustration
  by
  %a{:href => "#"} Alex Beltechi
.post_excerpt
  %img.alignleft.postimg{:alt => "Post title", :height => "200", :src => "../../images/docs/img_200x200.jpg", :width => "200"}/
  While creating things from scratch is an awesome way to showcase your style and technique, using stock photos is an easier way to add impacting detail to your work. To be able to do all that, we’ll be using various ways to separate photos from their backgrounds, manipulating them and altering the overall lighting, contrast, and color balance to finish off this complex illustration.
%h2
  Final Image Preview
%p
  Here's what we'll create today. Want access to the full PSD files and downloadable copies of every tutorial, including this one? Join Psd Plus for just $9/month. You can view the final image preview below.
%p
  %img{:height => "372", :src => "../../images/docs/full_img.jpg", :width => "620"}/
%p
  I started out by wanting to use a model photo. I wanted a simple and impersonal posture and found this asian model on
  %a{:href => "#"} istockphoto
  \. It's the photo that gave me my theme, so I started looking for things I could use with that.
%p
  I decided to focus on Japanese culture, so bonsai trees and pagodas were an obvious choice. Wanting to include some kind of floral theme, I found enough orchids on
  %a{:href => "#"} sxc
  to use as an important part of the piece.