---
title: Upgrading
author: Durran Jordan
category: docs
---
.text
  %p
    Use this as a reference when upgrading between Mongoid versions.

.title Upgrading to 2.0.0.beta.14 +
.text
  %p
    The <tt>:accessible =&gt; false</tt> option on fields has been
    removed in favor of <tt>attr_accessible</tt> and <tt>attr_protected</tt>.
    You will need to change those definitions in your models.

  %p
    Note that gemcutter is sorting the gems funkily, so when upgrading
    Mongoid for now you will have to specify the exact version. If you are
    using bundler then it takes care of this for you. The gems in the way
    will get yanked soon.

.title Upgrading to 2.0.0.beta.11 +
.text
  %p
    The <tt>Mongoid.use_object_ids</tt> configuration option has been removed
    and will need to be removed from your mongoid.yml or configuration block.

  %p
    If you had been using the default <tt>String</tt> representation of
    <tt>BSON::ObjectID</tt> as your ids, you will need to do one of the following
    options:

  %p
    a) Tell each one of your models to use <tt>Strings</tt> as ids like so:

  %pre
    %code.language-ruby
      :preserve
        class Person
          include Mongoid::Document
          identity :type => String
        end

  %p
    b) Migrate all your <tt>String</tt> ids over to <tt>ObjectIDs</tt> in your
    database. See <a href="http://gist.github.com/489098">This Gist</a> for an
    example script to do this. (Thanks Kyle Banker)

.title Upgrading to 2.0.0.beta.10 +
.text
  %p
    <tt>Passenger</tt> users who are using smart spawning must now remove
    their initializers with the reconnect on fork code. Mongoid now handles
    this for you.

  %p
    <tt>Unicorn</tt> users who set <tt>preload_app</tt> to <tt>true</tt>
    must also delete their initializers with the reconnect on fork code.
    Mongoid now handles this for you as well.
