- content_for :head do
  %title Mongoid: Nested Attributes

%h1 Nested Attributes

.page-nav
  .container
    %ul.nav.nav-pills
      %li= link_to "Overview", "#overview"
      %li= link_to "1-1 Relations", "#one_to_one"
      %li= link_to "1-n Relations", "#one_to_many"
      %li= link_to "n-n Relations", "#many_to_many"
