- content_for :head do
  %title Mongoid: Rails

%h1 rails

%p
  Mongoid was built and targeted towards Rails applications, even though it
  will work in any environment. However if you are using Rails consult the
  next two sections on how Mongoid hooks into a Rails application.

%p
  For a sample Rails application and examples of domain modeling, please see
  the Mongoid demo application,
  <a href="http://github.com/mongoid/echo">Echo</a>. Note that currently the
  application is only models and specs.

