- content_for :head do
  %title Mongoid: Upgrading

%h1 Upgrading

%p
  Use this as a reference when upgrading between Mongoid versions.
  You can always reference the
  <a href="http://github.com/mongoid/mongoid/blob/master/CHANGELOG.md">
  <code>CHANGELOG</code></a> for bug fixes, new features, and major changes
  between versions.

.well
  %table
    %tr
      %td.samurai= image_tag "/images/samurai.png"
      %td.note
        Mongoid follows versioning guidelines as outlined by the
        <a href="http://semver.org/">Semantic Versioning Specification</a>, so
        you can expect only backwards incompatible changes in major versions.

%h2 Upgrading to 3.0
