#page_menu
  %ul
    %li{:class => (@item[:category] == "home") ? "current_page_item" : ""}
      %a{:href => "/"} Home
    %li{:class => (@item[:category] == "docs") ? "current_page_item" : ""}
      %a{:href => "/docs/installation"} Docs
    %li{:class => (@item[:category] == "links") ? "current_page_item" : ""}
      %a{:href => "/links/"} Links
    %li{:class => (@item[:category] == "about") ? "current_page_item" : ""}
      %a{:href => "/about/"} About
