!!! Strict
%html{html_attrs}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title 
      Mongoid 
      - if item[:title]
        = "- #{item[:title]}"
    
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/home.css", :rel => "stylesheet", :type => "text/css"}
    
    -# fancy fonts
    %script{:src => "../javascript/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "../javascript/nevis_700.font.js", :type => "text/javascript"}
    :javascript
      Cufon.replace('h3.fancy');
  %body
    #landing

      #landing_box
        #main.left
          .links
            %a.link{:href => "../docs/installation/"} Documentation
            %br
            %a.link{:href => "../links/"} Links
            %br
            %a.link{:href => "http://github.com/durran/mongoid"} Source
          %a.logo{:href => "../"} Mongoid

          %p.description Mongoid provides an elegant way to persist and query Ruby objects to documents in MongoDB.

          %hr
          .gems
            .gem
              %h3.fancy Mongoid 1.x for<br />Rails2
              .install
                gem install mongoid

            .gem
              %h3.fancy Mongoid 2.x for<br />Rails3
              .install
                gem install mongoid --pre

            .clear
          %hr

        #sidebar.right
          :preserve
            #{yield}
        