- content_for :head do
  %title Mongoid: Tips

%h1 Tips and FAQs

.page-nav
  .container
    %ul.nav.nav-pills
      %li= link_to "Ruby 1.9.3", "#ruby"

%section#ruby
  %h2 Ruby 1.9.3

  %p
    Until 1.9.3, Ruby did not have a way to decode binary string data accurately
    for both big endian and little endian systems across all the data types used
    in the MongoDB wire protocol. All data sent via the wire protocal, as well
    as the BSON specification itself use little endian and the ability to decode
    32 bit and 64 bit signed longs and ints did not arrive in Ruby until this
    version. See <a href="http://ruby-doc.org/core-1.9.3/String.html#method-i-unpack">
    <code>String#unpack</code></a> and
    <a href="http://www.mongodb.org/display/DOCS/Mongo+Wire+Protocol">Mongo Wire Protocol</a>
    for more detailed information.

  %p
    What this means is that prior to 1.9.3, the data received back from big
    endian systems such as SPARC would get incorrect data decoded when receiving
    replys from the database. We have thus made 1.9.3 the minimum requirement
    to be able to support all architectures.

  %p
    For those of you on Heroku bamboo, you will need to do two things in order to
    run on 1.9.3 in your applications. First, you will need to upgrade to the
    Cedar stack, and then you will need to specify 1.9.3 as your Ruby in your
    application's <code>Gemfile</code>.
    See <a href="http://blog.heroku.com/archives/2012/5/9/multiple_ruby_version_support_on_heroku/">
    Multiple Rubies on Heroku</a> for instructions on making this migration.
