%h1 rails

%p
  Mongoid was built and targeted towards Rails applications, even though it
  will work in any environment. However if you are using Rails consult the
  next two sections on how Mongoid hooks into a Rails application.
