@import "compass/reset"
@import "960/grid"
@import "960/text"

$ninesixty-columns: 16

/* Theme Styles
html
  background-color: black
body
  background: url(../images/docs/bg_top.jpg) top center no-repeat
  font-family: Verdana, Geneva, sans-serif
  color: white
  font-size: 12px

h1, h2, h3, h4, h5, h6
  font-weight: normal

h1
  line-height: 30px
  margin-bottom: 5px
  &.page_title
    display: block
    margin: 15px 0 15px 0

h2
  font-size: 17px
  margin-bottom: 5px

h3
  font-size: 15px

h4
  font-size: 12px
  margin-bottom: 10px

a
  &:hover
    text-decoration: none
  color: white

p
  margin: 0 0 10px 0

#page_container
  overflow: hidden
  position: relative
  +grid-container
  +text

.roundedbox
  background: url(../images/docs/black_40.png)
  -moz-border-radius-bottomleft: 5px
  -moz-border-radius-bottomright: 5px
  -moz-border-radius-topleft: 5px
  -moz-border-radius-topright: 5px

/* Header
#leaf
  position: absolute
  left: 0
  top: 18px

#logo
  +grid(16)
  text-decoration: none !important
  h1
    padding-left: 24px
    font-size: 40px
    margin-bottom: 0
#page_menu 
  +grid(16)
  
  ul
    float: right
    margin-bottom: 0
    li
      float: left
      margin: 0 3px 0 0
      list-style: none
      &.current_page_item
        background: url(../images/docs/black_40.png)
        -moz-border-radius-bottomleft: 5px
        -moz-border-radius-bottomright: 5px
      a
        padding: 5px 10px 5px 10px
        color: white
        text-decoration: none
        display: block
      &.current_page_item a
        color: #ffae00
#date_rss
  /*padding:5px 10px 5px 10px;
  background: url(../images/docs/black_40.png)
  -moz-border-radius-bottomleft: 5px
  -moz-border-radius-bottomright: 5px
  font-size: 10px
  div
    padding: 7px 32px 7px 10px
    text-align: center
    position: relative
    img
      position: absolute
      right: 10px



#top_banner
  text-align: right
#categories_menu
  background: url(../images/docs/black_75.png)
  height: 40px
  -moz-border-radius-bottomleft: 5px
  -moz-border-radius-bottomright: 5px
  -moz-border-radius-topleft: 5px
  -moz-border-radius-topright: 5px
  ul li
    float: left
    margin: 0 0 0 0
    list-style: none
    a
      padding: 10px 13px 10px 13px
      font-size: 13px
      color: white
      text-decoration: none
      display: block
      background: url(../images/docs/categories_devider.gif) no-repeat left center
    &.first a
      background: none

.transborder
  -moz-border-radius: 15px 15px 15px 15px
  background-color: rgba(0, 0, 0, 0.4)
  padding: 10px

.content_body
  overflow: hidden
  background-color: #fff
  margin: 0
  padding: 10px
  color: #000
  min-height: 596px
  -moz-border-radius-bottomleft: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  h1.page_title
    margin-bottom: 0

  a
    color: darkblue
    

.post_date
  font-size: 11px
  a
    color: #ffae00
.post_excerpt
  font-style: italic
  margin: 15px 0 10px 0
.blog_post a.read_full_article
  display: block
  color: #ffae00
  font-style: italic

.outline
  li
    margin-left: 20px
    margin-bottom: 10px
#paging
  font-size: 11px
  text-align: right
  overflow: hidden
  a
    text-decoration: none
    &.current
      color: #339999
      cursor: default

/*main section

#mainarea
  +grid(12,16)

span#pagenumbers
  float: left
  margin: 0 0 0 10px

#gotopage
  float: right
  padding: 3px 8px 2px 9px
  background: url(../images/docs/black_40.png)
  -moz-border-radius-bottomleft: 5px
  -moz-border-radius-bottomright: 5px
  -moz-border-radius-topleft: 5px
  -moz-border-radius-topright: 5px
  a.more
    margin: 0 0 0 5px
.margin10px
  margin: 10px 10px 10px 10px

img.postimg
  width: 200px
  height: 200px
  margin: 0px 10px 10px 0

#rightcolumn
  +grid(4, 16)
  margin-top: 0px
  .roundedbox
    padding: 3px 8px 2px 8px
    height: 25px
    h3
      line-height: 22px
  .box
    margin: 0 0 10px 0

