=rounded-corners


div
  display: block

#gems
  overflow: auto
  width: 100%
  height: 100px

  .gem
    float: left
    margin-left: 20px
    width: 250px
    height: 100px

    .install
      background: #080808
      padding: 5px
      color: #fff
      text-align: center
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
.social
  margin-top: 20px

#sidebar
  .version
    font-size: 30px
    font-weight: bold
    color: #fff
    margin-top: 100px
    margin-left: 75px

