#index										
	%ul                      
		%li
			%a{:href=>url('/docs/mongoid')} Mongoid
		%li				    
			%a{:href=>url('/docs/introduction')} Introduction
		%li
			%a{:href=>url('/docs/performance')} Performance						
		%li	   
			%a.collapse-list{:href=>'#'} Installation
			%ul.hide				
				%li
					%a{:href=>url('/docs/installation')} Installation							
				%li	
					%a{:href=>url('/docs/installation/configuration')} Configuration
				%li	
					%a{:href=>url('/docs/installation/languages')} Languages
				%li	
					%a{:href=>url('/docs/installation/replication')} Replication					
		%li	    
			%a.collapse-list{:href=>'#'} Documents			
			%ul.hide                              
				%li
					%a{:href=>url('/docs/documents')} Documents				
				%li	
					%a{:href=>url('/docs/documents/access')} Access				
				%li	
					%a{:href=>url('/docs/documents/dirty')} Dirty
				%li	
					%a{:href=>url('/docs/documents/dynamic')} Dynamic
				%li	
					%a{:href=>url('/docs/documents/fields')} Fields
				%li	
					%a{:href=>url('/docs/documents/inheritance')} Inheritance
				%li
					%a{:href=>url('/docs/documents/nested_attributes')} Nested Attributes
		%li	                                     
			%a.collapse-list{:href=>'#'} Persistence			
			%ul.hide                                     
				%li
					%a{:href=>url('/docs/persistence')} Persistence    
				%li	
					%a{:href=>url('/docs/persistence/atomic')} Atomic
				%li	
					%a{:href=>url('/docs/persistence/standard')} Standard    												
		%li 
			%a.collapse-list{:href=>'#'} Querying			
			%ul.hide                                     
				%li
					%a{:href=>url('/docs/querying')} Querying
				%li
					%a{:href=>url('/docs/querying/criteria')} Criteria
				%li
					%a{:href=>url('/docs/querying/finders')} Finders
				%li
					%a{:href=>url('/docs/querying/modification')} Modification
				%li
					%a{:href=>url('/docs/querying/scopes')} Scopes
		%li                      
			%a.collapse-list{:href=>'#'} Relations						
			%ul.hide
				%li
					%a{:href=>url('/docs/relations')} Relations
				%li
					%a{:href=>url('/docs/relations/embedded')} Embedded
					%ul
						%li
							%a{:href=>url('/docs/relations/embedded/1-1')} 1-1
						%li
							%a{:href=>url('/docs/relations/embedded/1-n')} 1-n 
				%li
					%a{:href=>url('/docs/relations/referenced')} Referenced
					%ul
						%li
							%a{:href=>url('/docs/relations/referenced/1-1')} 1-1
						%li
							%a{:href=>url('/docs/relations/referenced/1-n')} 1-n
						%li
							%a{:href=>url('/docs/relations/referenced/n-n')} n-n
				%li
					%a{:href=>url('/docs/relations/metadata')} Metadata														
				%li
					%a{:href=>url('/docs/relations/validations')} Validations  
		%li	      
			%a.collapse-list{:href=>'#'} Callbacks			
			%ul.hide
				%li
					%a{:href=>url('/docs/callbacks')} Callbacks
				%li
					%a{:href=>url('/docs/callbacks/observers')} Observers									
		%li
			%a{:href=>url('/docs/validation')} Validation																											
		%li	
			%a{:href=>url('/docs/indexing')} Indexing      										
		%li	
			%a{:href=>url('/docs/extras')} Extras							
		%li     
			%a.collapse-list{:href=>'#'} Rails			
			%ul.hide
				%li
					%a{:href=>url('/docs/rails')} Rails
				%li
					%a{:href=>url('/docs/rails/railties')} Railties
				%li
					%a{:href=>url('/docs/rails/rake')} Rake																
		%li	
			%a{:href=>url('/docs/extensions')} Extensions									

		%li
			%a{:href=>url('/docs/upgrading')} Upgrading
			
		%li	
			%a{:href=>url('/docs/contributing')} Contributing
		%li 
			%a{:href=>url('/docs/contributors')} Contributors			