#menu{:name=>'menu'}	
	%ul             
		%li
			= image_tag "/mongoid-logo-small.png", :class=>'logo'			
		%li 
			%a.doc{:href=>'/docs'} Docs			
		%li 
			%a{:href=>'http://rubydoc.info/github/mongoid/mongoid/master/frames', :target=>"_blank" } API
		%li 
			%a{:href=>'https://github.com/mongoid/mongoid', :target=>"_blank"}	Code
		%li 
			%a{:href=>'http://twitter.com/modetojoy', :target=>"_blank"} Twitter
		%li 
			%a{:href=>'/stories'} Who is using Mongoid?
		%li					
			%a.menu{:href=>'/contributors'} Contributors
		%li
			= image_tag "/mongoid-logo-small-reflex.png", :class=>'logo'			
	%hr