%center
  #logos
    = link_to "/mongoid/index.html", class: "splash" do
      = image_tag "/images/mongoid-logo-large-white.png"

    -# = link_to "/origin/index.html", class: "splash" do
      -# = image_tag "/images/mongoid-logo-large-white.png"

    -# = link_to "/moped/index.html", class: "splash" do
      -# = image_tag "/images/mongoid-logo-large-white.png"
