!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan, bernerd schaefer" }
    = stylesheet_link_tag "mongoid-splash.css"
    %title Mongoid

  %body
    = yield
