- content_for :head do
  %title Mongoid: Links

%h1 links

%p
  Here are a list of links that may also be of importance or interest.

  %ul
    %li
      %a{ :href => 'http://github.com/mongoid' } Mongoid Organization on Github
    %li
      %a{ :href => 'http://groups.google.com/group/mongoid/' } Mongoid Google Group
    %li
      %a{ :href => 'http://rdoc.info/github/mongoid/mongoid/master/frames' } Mongoid API Documentation
    %li
      %a{ :href => "http://travis-ci.org/#!/mongoid/mongoid" } Mongoid on TravisCI
    %li
      %a{ :href => 'http://twitter.com/modetojoy' } Mongoid (Durran) on Twitter
    %li
      %a{ :href => 'http://mongodb.org' } MongoDB
    %li
      %a{ :href => 'http://api.mongodb.org/ruby' } MongoDB Ruby Driver Documentation

