- content_for :head do
  %title Mongoid: Links

%h1 Links

%p
  Here are a list of links that may also be of importance or interest.

  %ul
    %li=link_to "Mongoid Organization on Github", "http://github.com/mongoid"
    %li=link_to "Mongoid Google Group", "http://groups.google.com/group/mongoid/"
    %li=link_to "API Documentation", "http://rdoc.info/github/mongoid/mongoid/master/frames"
    %li=link_to "Mongoid on TravisCI", "http://travis-ci.org/#!/mongoid/mongoid"
    %li=link_to "Durran on Twitter", "http://twitter.com/modetojoy"
    %li=link_to "Mongoid on Twitter", "http://twitter.com/mongoid"
    %li=link_to "MongoDB", "http://mongodb.org"
