- content_for :head do
  %title Mongoid: Performance

%h1 performance

%p
  The data used in the metrics is that of what would
  be considered a fairly standard application in MongoDB that Mongoid
  could manage.

  %ul
    %li 1,000,000 documents in the main collection
    %li 10,000 embedded documents on a root document (1-n)
    %li 10,000 embedded documents on a root document (1-1)
    %li 100,000 referenced documents to another collection (1-n)
    %li 100,000 referenced documents to another collection (1-1)
    %li 10,000 referenced documents to another collection (n-n)

%p.italic
  * Performance metrics done on a 2.4 GHz i5 MacBook Pro / 4GB RAM,
  OSX 10.7, Mongoid 2.1.0

%p.italic
  * The script to run the performance metrics can be found
  <a href="https://github.com/mongoid/mongoid/blob/master/perf/benchmark.rb">here</a>.

%h3 notes

%p
  Many to many relations are not recommended for over 10,000 documents when using
  MRI due to the garbage collector taking over 90% of the run time when
  calling #build or #create. This is due to the large array appending occuring
  in these operations.

%p
  When performing appends to one to many relations we execute in batch
  (appending all at once instead of one at a time) due to the slow performance of
  MongoDB's $push atomic operator.

%table.performance
  %tr
    %td.header{ colspan: 3 } root (1,000,000 operations)
  %tr
    %td.green
      .op Model#create
      .time [ 480.870 ]
      .rate [ 2,079/sec ]
  %tr
    %td.green
      .op Model#all.each
      .time [ 52.318 ]
      .rate [ 19,114/sec ]
  %tr
    %td.green
      .op Model#find
      .time [ 0.001 ]
      .rate
  %tr
    %td.green
      .op Model#save
      .time [ 554.206 ]
      .rate [ 1,804/sec ]
  %tr
    %td.green
      .op Model#update_attribute
      .time [ 401.765 ]
      .rate [ 2,489/sec ]

%table.performance
  %tr
    %td.header{ colspan: 3 } embedded 1-n (10,000 operations)
  %tr
    %td.green
      .op relation#build
      .time [ 2.655 ]
      .rate [ 3,766/sec ]
  %tr
    %td.green
      .op relation#clear
      .time [ 1.307 ]
      .rate [ 7,651/sec ]
  %tr
    %td.yellow
      .op relation#create
      .time [ 6.997 ]
      .rate [ 1,429/sec ]
  %tr
    %td.green
      .op relation#count
      .time [ 0.017 ]
      .rate
  %tr
    %td.green
      .op relation#delete_all
      .time [ 2.229 ]
      .rate [ 4,486/sec ]
  %tr
    %td.green
      .op relation#push (batch)
      .time [ 4.054 ]
      .rate [ 2,466/sec ]
  %tr
    %td.green
      .op relation#each
      .time [ 0.001 ]
      .rate [ 10,000,000/sec ]
  %tr
    %td.green
      .op relation#find
      .time [ 0.069 ]
      .rate
  %tr
    %td.green
      .op relation#delete
      .time [ 0.065 ]
      .rate

%table.performance
  %tr
    %td.header{ colspan: 3 } embedded 1-1 (10,000 operations)
  %tr
    %td.green
      .op relation#=
      .time [ 4.539 ]
      .rate [ 2,203/sec ]

%table.performance
  %tr
    %td.header{ colspan: 3 } relational 1-n (100,000 operations)
  %tr
    %td.green
      .op relation#build
      .time [ 21.225 ]
      .rate [ 4,711/sec ]
  %tr
    %td.green
      .op relation#clear
      .time [ 5.289 ]
      .rate [ 18,907/sec ]
  %tr
    %td.yellow
      .op relation#create
      .time [ 59.970 ]
      .rate [ 1,667/sec ]
  %tr
    %td.green
      .op relation#count
      .time [ 0.057 ]
      .rate
  %tr
    %td.green
      .op relation#delete_all
      .time [ 6.897 ]
      .rate [ 14,499/sec ]
  %tr
    %td.green
      .op relation#push (batch)
      .time [ 44.710 ]
      .rate [ 2,236/sec ]
  %tr
    %td.green
      .op relation#each
      .time [ 0.089 ]
      .rate [ 1,123,595/sec ]
  %tr
    %td.green
      .op relation#find
      .time [ 1.326 ]
      .rate
  %tr
    %td.green
      .op relation#delete
      .time [ 0.569 ]
      .rate

%table.performance
  %tr
    %td.header{ colspan: 3 } relational 1-1 (100,000 operations)
  %tr
    %td.green
      .op relation#=
      .time [ 43.719 ]
      .rate [ 2,287/sec ]

%table.performance
  %tr
    %td.header{ colspan: 3 } relational n-n (10,000 operations)
  %tr
    %td.green
      .op relation#build
      .time [ 1.715 ]
      .rate [ 5,830/sec ]
  %tr
    %td.green
      .op relation#clear
      .time [ 0.755 ]
      .rate [ 13,245/sec ]

  %tr
    %td.green
      .op relation#count
      .time [ 0.001 ]
      .rate
  %tr
    %td.green
      .op relation#delete_all
      .time [ 0.001 ]
      .rate [ 10,000,000/sec ]
  %tr
    %td.green
      .op relation#push (batch)
      .time [ 2.723 ]
      .rate [ 3,672/sec ]
  %tr
    %td.green
      .op relation#each
      .time [ 0.008 ]
      .rate [ 1,250,000/sec ]
  %tr
    %td.green
      .op relation#find
      .time [ 0.113 ]
      .rate
  %tr
    %td.green
      .op relation#delete
      .time [ 0.076 ]
      .rate
