%h1 documentation

%p
  Note when going through the Mongoid documentation, some assumptions will
  be made to keep everything as brief as possible.

%p
  <tt>Model#method_name</tt> will be used for describing instance methods.

%p
  <tt>Model.method_name</tt> will be used for describing class methods.

%p
  When in the code examples an all lowercase model name is used it is there
  to imply a document of that class had been created previously in the
  example:

:coderay
  #!ruby
  person #=> Implies a Person document had been instantiated already.

%p
  Comments above a line in a code example alert to what is occurring on
  the next line, and potentially all subsequent lines up to the next
  empty line:

:coderay
  #!ruby

  # Make it rain fool!
  person.make_it_rain
  person.show_me_the_money!

%p
  Indication of being on a command prompt will be indicated by a $.

:coderay
  #!ruby
  $ rails new leisure-suit-larry

%p
  All Ruby code will be using <tt>1.9.2</tt> syntax. Although note that
  Mongoid is compatible with <tt>1.8.7</tt>, <tt>REE</tt>, and
  <tt>JRuby</tt> as well.

%p
  Note that the Mongoid documentation is only valid for the current release of
  Mongoid - we do not store historical records of releases. For more detailed
  information of when functionality was added or removed, please see the API
  documentation.
