- content_for :head do
  %title Mongoid: Persistence

%h1 Persistence

%p
  Mongoid supports all expected <tt>CRUD</tt> operations for those familiar
  with other Ruby mappers like
  <a href="http://rubyonrails.org/">Active Record</a> or
  <a href="https://datamapper.org">Data Mapper</a>.
  What distinguishes Mongoid from other mappers for MongoDB is that the
  general persistence operations perform atomic
  updates on only the fields that have changed instead of writing the entire
  document to the database each time.

%p
  The persistence sections will provide examples on what database operation
  is performed when executing the documented command.
