- content_for :head do
  %title Mongoid: Querying

%h1 Querying

%p
  One of MongoDB's greatest features is its ability to execute dynamic
  queries, which Mongoid abstracts in a familiar Arel-style DSL.

%h3 Mongoid queries

%p
  All queries in Mongoid are <tt>Criteria</tt>, which is a chainable and
  lazily evaluated wrapper to a MongoDB dynamic query. Criteria only
  touch the database when they need to, for example on iteration of the
  results, and when executed wrap a cursor in order to keep memory
  management and performance predictable.
                                                          
%p 
  In order to get the matched documents of a <tt>Criteria</tt> you can 
  use <tt>Criteria.entries</tt> as in <tt>Model.all.entries</tt>